<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h5 class="modal-title blue" ng-bind-html="title">ID{{change_info_id}}：<span class="yellow">{{change_info_field_name}}</span></h5>
      </div>
      <div class="modal-body">
        <h4>{{change_info_o_key}}</h4>
        <textarea style="resize: none;" rows="3" class="form-control" placeholder="{{jp_lang==1 ? '修正' : '修改为'}}" ng-model="change_info_new_key"> </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="change_item(change_info_new_key);$hide()">ok</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">close</button>
      </div>
    </div>
  </div>
</div>